.btn{
    border: none;
    background-color: #B1D7B4;
    font-size: 20px;
    color: #8C6161;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
ul{
    top: 0;
    padding-left: 910px;;
    background-color: #B1D7B4;
    padding-top: 18px;
    height: 50px;
    width: 100%;
}
ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;  
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #8C6161;
    text-shadow: 1px 1px 2px #8C6161;
} 
#about{
    color: #29B8A7;
}
#logo{
    height: 40px;
    transform: translateY(-70px);
    padding-left: 15px;
}
 body{
    background-color: #F7F6DC;
 }
 .container{
    position: absolute;
    height: 500px;
    width: 1000px;
    top: 130px;
    left: 260px;
    background-color: #B1D7B4;
    border-radius: 20px;
 }
 .heading{
    position: absolute;
    left: 420px;
    top: 20px;
    height: 40px;
    width: 130px;
    text-align: center;
    background-color: #29B8A7;
    color: #ffffff;
    padding-top: 4px;
    font-size: 30px;
    border-radius: 10px;
 }
 .text{
    position: absolute;
    width: 350px;
 }
 footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #B1D7B4;
 }
 .content{
    position: absolute;
    left: 30px;
    top: 80px;
 }
 .text{
    position: absolute;
    height: 350px;
    width: 430px;
    font-size: 40px;
    background-color: #3D8361;
    padding-left: 25px;
    padding-top: 35px;
    border-radius: 20px;
    color: #ffffff;
 }
 /* .image{
    position: absolute;
    left: 200px;
 } */
 .content img{
    position: absolute;
    height: 385px;
    width: 430px;
    left: 500px;
 }