*{
    background-color: #B1D7B4;
  }
  
  .split {
    height: 100%;
    width: 55%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    position: fixed; 
    left: 0;
    background-color: #B1D7B4;
  }
  
  /* Control the right side */
  .right {
    position: fixed;
    right: 0;
    background-color: #F7F6DC;
    border-radius: 50px 0px 0px 50px;
    box-shadow: -10px 0px 50px -25px;
    /* z-index: -1; */
  }
  
  #email{
    position: absolute;
    top: 362px;
    left: 15%;
    text-align: center;
    height: 60px;
    width: 500px;
    color: #5A3092;
    border: 1px solid #5A3092;
    border-radius: 5px;
    font-size: 17px;
    background: url(image\ 1.png) no-repeat 440px 12px ;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
    /* #box-sizing: border-box; */
    /* #padding: 10px; */
  }
  #loginId{
    position: absolute;
    top: 457px;
    left: 15%;
    text-align: center;
    height: 60px;
    width: 500px;
    border: 1px solid #5A3092;
    border-radius: 5px;
    font-size: 17px;
    color: #5A3092;
    background: url(image\ 2.png) no-repeat 440px 13px ;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
    /* #box-sizing: border-box; */
    /* #padding: 10px; */
  }
  .abovetext
  {
    font-family: Gotham;
    position: absolute;
    background-color: #F7F6DC;
    color: #0F4A57;
    left: 15%;
    font-size: 60px;
    top: 108px;
    /* #text-align: center; */
  }
  .midtext
  {
    font-family: 'Black Han Sans';
    position: absolute;
    background-color: #F7F6DC;
    color: #0F4A57;
    left: 15%;
    top: 287px;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
  }
  ::placeholder{
    color: #5A3092;
    opacity: 0.8;
    /* padding: 10px; */
    text-align: left;
    font-size: 17px;;
  }
  .lowertext1{
    position: absolute;
    background-color:#F7F6DC;
    color: #000000;
    left: 197px;
    top: 602px;
    font-size: 20px;
    font-weight: bold;
    /* #text-align: center; */
  }
  .FPbutton{
    position: absolute;
    background-color:#F7F6DC;
    color: #000000;
    left: 470px;
    top: 600px;
    font-size: 15px;
    font-weight: 500;
    /* #text-align: center; */
  }
  a{
    background-color: #F7F6DC;
    color:#000000;
  }
  .button{
    height: 60px;
    width: 140px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: -2px 2px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #0A3237;
  }
  .lowertext2{
    left: 288px;
    top: 540px;
    padding: 10px 10px 30px;
    margin-top: 100px;
    position: relative;
    background-color: #F7F6DC;
    font-size: 26px;
  }
  /* a{
    text-decoration: none;
  } */
  a:hover{
    color: rgb(33, 130, 130);
  }
  
  .button:hover{
    cursor: pointer;
  }
  
  #logo{
    transform: translate(20px);
    height: 62px;
    width: 188px;
  }
  
  #form{
    background-color: #F7F6DC;
  }

  #img{
    left: 200px;
    width: 770.39px;
    height: 631.91px;
    transform: rotate(-11.48deg);
  }